/*General*/
html,body {
    margin: 0;
}

#container {
	width: 100%;
	position: relative;
    align-content: center;
}

.section{
    width: 100%;
    height: 900px;
    font-family: 'Muli', sans-serif;
    font-style: italic;
    position: relative;
    border: solid 1px transparent;
}

/*Text*/
#paragraphrespon {
    font-family: 'Rokkitt', serif;
    color: white;
    font-size: 25px;
    width: 400px; 
    height: 20px; 
    padding: 1px;
    position: relative;
    top: 550px;
    left: 750px;
}
#titlerespon {
    position: absolute;
    top: 0px;
    left: 100px
}

#paragraphsec {
    font-family: 'Rokkitt', serif;
    color: white;
    font-size: 25px;
    width: 400px; 
    height: 20px; 
    padding: 1px;
    position: relative;
    top: 100px;
    left: 200px;
}
#titlesec {
    position: absolute;
    top: 100px;
    left: 1200px;
    width: 1000px;
    transform: rotate(90deg);
	transform-origin: left top 0;
    color: #f27820;
    float: left;
}

#paragraphheart {
    font-family: 'Rokkitt', serif;
    color: white;
    font-size: 25px;
    width: 400px; 
    height: 20px; 
    padding: 1px;
    position: relative;
    top: 100px;
    left: 750px;
}
#titleheart {
    position: absolute;
    width: 1000px;
    top: 460px;
    left: 50px;
    color: lightgoldenrodyellow;
    float: left;
}

#paragraphmental {
    font-family: 'Rokkitt', serif;
    color: white;
    font-size: 25px;
    width: 400px; 
    height: 20px; 
    padding: 1px;
    position: relative;
    top: 100px;
    left: 100px;
}
#titlemental {
    position: absolute;
    top: 650px;
    left: 700px;
    width: 1000px;
    color: sienna;
    float: left;
}

#paragraphphysical {
    font-family: 'Rokkitt', serif;
    color: white;
    font-size: 25px;
    width: 400px; 
    height: 20px; 
    padding: 1px;
    position: relative;
    top: 45px;
    left: 190px;
}
#titlephysical {
    position: absolute;
    top: 740px;
    left: 600px;
    width: 1000px;
    color: #ab9420;
    float: left;
}

/*Background images*/
#cover {
    background-image: url("images/cover.jpg");
    -webkit-background-size:cover;
    font-size: 4em;
    text-align: center;
    color: white;
}
#respon {
    background-image: url("images/responsibility.jpg");
    -webkit-background-size:cover;
    font-size: 3em;
    color: pink;
}
#security {
    background-image: url("images/security.jpg");
    -webkit-background-size:cover;
    font-size: 3em;
    color: azure;
}
#heart {
    background-image: url("images/hearthhealth.jpg");
    -webkit-background-size:cover;
    font-size: 3em;
    color: lightgoldenrodyellow;
}
#mental {
    background-image: url("images/mentalhealth.jpg");
    -webkit-background-size:cover;
    font-size: 3em;
    color: lightgoldenrodyellow;
}
#physical {
    background-image: url("images/physicalhealth.jpg");
    -webkit-background-size:cover;
    font-size: 3em;
    color: lightgoldenrodyellow;
}
    
/*Animation*/
#titlecover {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 99;
    animation: title_fade 1s forwards;
    animation-delay: 1s; /*making it delay upon the website launch*/
}
@keyframes title_fade {
    0% {opacity: 0;}
    100% { opacity: 1;}
}

#paw{
    position: absolute;
    width: 75px;
    height: 75px;
    transform: rotate(90deg);
    animation: paws_move 60s; infinite; ease-in-out;
    animation-delay: 2s;
}
@keyframes paws_move {
0.00%	{top:0px;left:1200px;}
0.95%	{top:100px;left:1200px;}
1.90%	{top:100px;left:1200px;}
2.85%	{top:200px;left:1200px;}
3.80%	{top:200px;left:1200px;}
4.75%	{top:300px;left:1200px;}
5.70%	{top:300px;left:1200px;}
6.65%	{top:400px;left:1200px;}
7.60%	{top:400px;left:1200px;}
8.55%	{top:500px;left:1200px;}
9.50%	{top:500px;left:1200px;}
10.45%	{top:600px;left:1200px;}
11.40%	{top:600px;left:1200px;}
12.35%	{top:700px;left:1200px;}
13.30%	{top:700px;left:1200px;}
14.25%	{top:800px;left:1200px;}
15.20%	{top:800px;left:1200px;}
16.15%	{top:900px;left:1200px;}
17.10%	{top:900px;left:1200px;}
18.05%	{top:1000px;left:1200px;}
19.00%	{top:1000px;left:1200px;}
19.95%	{top:1100px;left:1200px;}
20.90%	{top:1100px;left:1200px;}
21.85%	{top:1200px;left:1200px;}
22.80%	{top:1200px;left:1200px;}
23.75%	{top:1300px;left:1200px;}
24.70%	{top:1300px;left:1200px;}
25.65%	{top:1400px;left:1200px;}
26.60%	{top:1400px;left:1200px;}
27.55%	{top:1500px;left:1200px;}
28.50%	{top:1500px;left:1200px;}
29.45%	{top:1600px;left:1200px;}
30.40%	{top:1600px;left:1200px;}
31.35%	{top:1700px;left:1200px;}
32.30%	{top:1700px;left:1200px;}
33.25%	{top:1800px;left:1200px;}
34.20%	{top:1800px;left:1200px;}
35.15%	{top:1900px;left:1200px;}
36.10%	{top:1900px;left:1200px;}
37.05%	{top:2000px;left:1200px;}
38.00%	{top:2000px;left:1200px;}
38.95%	{top:2100px;left:1200px;}
39.90%	{top:2100px;left:1200px;}
40.85%	{top:2200px;left:1200px;}
41.80%	{top:2200px;left:1200px;}
42.75%	{top:2300px;left:1200px;}
43.70%	{top:2300px;left:1200px;}
44.65%	{top:2400px;left:1200px;}
45.60%	{top:2400px;left:1200px;}
46.55%	{top:2500px;left:1200px;}
47.50%	{top:2500px;left:1200px;}
48.45%	{top:2600px;left:1200px;}
49.40%	{top:2600px;left:1200px;}
50.35%	{top:2700px;left:1200px;}
51.30%	{top:2700px;left:1200px;}
52.25%	{top:2800px;left:1200px;}
53.20%	{top:2800px;left:1200px;}
54.15%	{top:2900px;left:1200px;}
55.10%	{top:2900px;left:1200px;}
56.05%	{top:3000px;left:1200px;}
57.00%	{top:3000px;left:1200px;}
57.95%	{top:3100px;left:1200px;}
58.90%	{top:3100px;left:1200px;}
59.85%	{top:3200px;left:1200px;}
60.80%	{top:3200px;left:1200px;}
61.75%	{top:3300px;left:1200px;}
62.70%	{top:3300px;left:1200px;}
63.65%	{top:3400px;left:1200px;}	
64.60%	{top:3400px;left:1200px;}
65.55%	{top:3500px;left:1200px;}
66.50%	{top:3500px;left:1200px;}
67.45%	{top:3600px;left:1200px;}
68.40%	{top:3600px;left:1200px;}
69.35%	{top:3700px;left:1200px;}
70.30%	{top:3700px;left:1200px;}
71.25%	{top:3800px;left:1200px;}
72.20%	{top:3800px;left:1200px;}
73.15%	{top:3900px;left:1200px;}
74.10%	{top:3900px;left:1200px;}
75.05%	{top:4000px;left:1200px;}
76.00%	{top:4000px;left:1200px;}
76.95%	{top:4100px;left:1200px;}
77.90%	{top:4100px;left:1200px;}
78.85%	{top:4200px;left:1200px;}
79.80%	{top:4200px;left:1200px;}
80.75%	{top:4300px;left:1200px;}
81.70%	{top:4300px;left:1200px;}
82.65%	{top:4400px;left:1200px;}
83.60%	{top:4400px;left:1200px;}
84.55%	{top:4500px;left:1200px;}
85.50%	{top:4500px;left:1200px;}
86.45%	{top:4600px;left:1200px;}
87.40%	{top:4600px;left:1200px;}
88.35%	{top:4700px;left:1200px;}
89.30%	{top:4700px;left:1200px;}
90.25%	{top:4800px;left:1200px;}
91.20%	{top:4800px;left:1200px;}
92.15%	{top:4900px;left:1200px;}
93.10%	{top:4900px;left:1200px;}
94.05%	{top:5000px;left:1200px;}
95.00%	{top:5000px;left:1200px;}
95.95%	{top:5100px;left:1200px;}
96.90%	{top:5100px;left:1200px;}
97.85%	{top:5200px;left:1200px;}
98.80%	{top:5200px;left:1200px;}
99.75%	{top:5300px;left:1200px;}
100.70%	{top:5300px;left:1200px;}
101.65%	{top:5400px;left:1200px;}
102.60%	{top:5400px;left:1200px;}
}

#paw2{
    position: absolute;
    width: 75px;
    height: 75px;
    transform: rotate(90deg);
    animation: paws_move2 60s; infinite; ease-in-out;
    animation-delay: 2s;
}
@keyframes paws_move2 {
0.00%	{top:0px;left:1300px;}
0.95%	{top:0px;left:1300px;}
1.90%	{top:100px;left:1300px;}
2.85%	{top:100px;left:1300px;}
3.80%	{top:200px;left:1300px;}
4.75%	{top:200px;left:1300px;}
5.70%	{top:300px;left:1300px;}
6.65%	{top:300px;left:1300px;}
7.60%	{top:400px;left:1300px;}
8.55%	{top:400px;left:1300px;}
9.50%	{top:500px;left:1300px;}
10.45%	{top:500px;left:1300px;}
11.40%	{top:600px;left:1300px;}
12.35%	{top:600px;left:1300px;}
13.30%	{top:700px;left:1300px;}
14.25%	{top:700px;left:1300px;}
15.20%	{top:800px;left:1300px;}
16.15%	{top:800px;left:1300px;}
17.10%	{top:900px;left:1300px;}
18.05%	{top:900px;left:1300px;}
19.00%	{top:1000px;left:1300px;}
19.95%	{top:1000px;left:1300px;}
20.90%	{top:1100px;left:1300px;}
21.85%	{top:1100px;left:1300px;}
22.80%	{top:1200px;left:1300px;}
23.75%	{top:1200px;left:1300px;}
24.70%	{top:1300px;left:1300px;}
25.65%	{top:1300px;left:1300px;}
26.60%	{top:1400px;left:1300px;}
27.55%	{top:1400px;left:1300px;}
28.50%	{top:1500px;left:1300px;}
29.45%	{top:1500px;left:1300px;}
30.40%	{top:1600px;left:1300px;}
31.35%	{top:1600px;left:1300px;}
32.30%	{top:1700px;left:1300px;}
33.25%	{top:1700px;left:1300px;}
34.20%	{top:1800px;left:1300px;}
35.15%	{top:1800px;left:1300px;}
36.10%	{top:1900px;left:1300px;}
37.05%	{top:1900px;left:1300px;}
38.00%	{top:2000px;left:1300px;}
38.95%	{top:2000px;left:1300px;}
39.90%	{top:2100px;left:1300px;}
40.85%	{top:2100px;left:1300px;}
41.80%	{top:2200px;left:1300px;}
42.75%	{top:2200px;left:1300px;}
43.70%	{top:2300px;left:1300px;}
44.65%	{top:2300px;left:1300px;}
45.60%	{top:2400px;left:1300px;}
46.55%	{top:2400px;left:1300px;}
47.50%	{top:2500px;left:1300px;}
48.45%	{top:2500px;left:1300px;}
49.40%	{top:2600px;left:1300px;}
50.35%	{top:2600px;left:1300px;}
51.30%	{top:2700px;left:1300px;}
52.25%	{top:2700px;left:1300px;}
53.20%	{top:2800px;left:1300px;}
54.15%	{top:2800px;left:1300px;}
55.10%	{top:2900px;left:1300px;}
56.05%	{top:2900px;left:1300px;}
57.00%	{top:3000px;left:1300px;}
57.95%	{top:3000px;left:1300px;}
58.90%	{top:3100px;left:1300px;}
59.85%	{top:3100px;left:1300px;}
60.80%	{top:3200px;left:1300px;}
61.75%	{top:3200px;left:1300px;}
62.70%	{top:3300px;left:1300px;}
63.65%	{top:3300px;left:1300px;}	
64.60%	{top:3400px;left:1300px;}
65.55%	{top:3400px;left:1300px;}
66.50%	{top:3500px;left:1300px;}
67.45%	{top:3500px;left:1300px;}
68.40%	{top:3600px;left:1300px;}
69.35%	{top:3600px;left:1300px;}
70.30%	{top:3700px;left:1300px;}
71.25%	{top:3700px;left:1300px;}
72.20%	{top:3800px;left:1300px;}
73.15%	{top:3800px;left:1300px;}
74.10%	{top:3900px;left:1300px;}
75.05%	{top:3900px;left:1300px;}
76.00%	{top:4000px;left:1300px;}
76.95%	{top:4000px;left:1300px;}
77.90%	{top:4100px;left:1300px;}
78.85%	{top:4100px;left:1300px;}
79.80%	{top:4200px;left:1300px;}
80.75%	{top:4200px;left:1300px;}
81.70%	{top:4300px;left:1300px;}
82.65%	{top:4300px;left:1300px;}
83.60%	{top:4400px;left:1300px;}
84.55%	{top:4400px;left:1300px;}
85.50%	{top:4500px;left:1300px;}
86.45%	{top:4500px;left:1300px;}
87.40%	{top:4600px;left:1300px;}
88.35%	{top:4600px;left:1300px;}
89.30%	{top:4700px;left:1300px;}
90.25%	{top:4700px;left:1300px;}
91.20%	{top:4800px;left:1300px;}
92.15%	{top:4800px;left:1300px;}
93.10%	{top:4900px;left:1300px;}
94.05%	{top:4900px;left:1300px;}
95.00%	{top:5000px;left:1300px;}
95.95%	{top:5000px;left:1300px;}
96.90%	{top:5100px;left:1300px;}
97.85%	{top:5100px;left:1300px;}
98.80%	{top:5200px;left:1300px;}
99.75%	{top:5200px;left:1300px;}
100.70%	{top:5300px;left:1300px;}
101.65%	{top:5300px;left:1300px;}
102.60%	{top:5400px;left:1300px;}
}

#paw3{
    position: absolute;
    width: 75px;
    height: 75px;
    transform: rotate(90deg);
    animation: paws_move3 60s; infinite; ease-in-out;
    animation-delay: 2s;
}
@keyframes paws_move3 {
0.00%	{top:175px;left:1200px;}
0.95%	{top:175px;left:1200px;}
1.90%	{top:275px;left:1200px;}
2.85%	{top:275px;left:1200px;}
3.80%	{top:375px;left:1200px;}
4.75%	{top:375px;left:1200px;}
5.70%	{top:475px;left:1200px;}
6.65%	{top:475px;left:1200px;}
7.60%	{top:575px;left:1200px;}
8.55%	{top:575px;left:1200px;}
9.50%	{top:675px;left:1200px;}
10.45%	{top:675px;left:1200px;}
11.40%	{top:775px;left:1200px;}
12.35%	{top:775px;left:1200px;}
13.30%	{top:875px;left:1200px;}
14.25%	{top:875px;left:1200px;}
15.20%	{top:975px;left:1200px;}
16.15%	{top:975px;left:1200px;}
17.10%	{top:1075px;left:1200px;}
18.05%	{top:1075px;left:1200px;}
19.00%	{top:1175px;left:1200px;}
19.95%	{top:1175px;left:1200px;}
20.90%	{top:1275px;left:1200px;}
21.85%	{top:1275px;left:1200px;}
22.80%	{top:1375px;left:1200px;}
23.75%	{top:1375px;left:1200px;}
24.70%	{top:1475px;left:1200px;}
25.65%	{top:1475px;left:1200px;}
26.60%	{top:1575px;left:1200px;}
27.55%	{top:1575px;left:1200px;}
28.50%	{top:1675px;left:1200px;}
29.45%	{top:1675px;left:1200px;}
30.40%	{top:1775px;left:1200px;}
31.35%	{top:1775px;left:1200px;}
32.30%	{top:1875px;left:1200px;}
33.25%	{top:1875px;left:1200px;}
34.20%	{top:1975px;left:1200px;}
35.15%	{top:1975px;left:1200px;}
36.10%	{top:2075px;left:1200px;}
37.05%	{top:2075px;left:1200px;}
38.00%	{top:2175px;left:1200px;}
38.95%	{top:2175px;left:1200px;}
39.90%	{top:2275px;left:1200px;}
40.85%	{top:2275px;left:1200px;}
41.80%	{top:2375px;left:1200px;}
42.75%	{top:2375px;left:1200px;}
43.70%	{top:2475px;left:1200px;}
44.65%	{top:2475px;left:1200px;}
45.60%	{top:2575px;left:1200px;}
46.55%	{top:2575px;left:1200px;}
47.50%	{top:2675px;left:1200px;}
48.45%	{top:2675px;left:1200px;}
49.40%	{top:2775px;left:1200px;}
50.35%	{top:2775px;left:1200px;}
51.30%	{top:2875px;left:1200px;}
52.25%	{top:2875px;left:1200px;}
53.20%	{top:2975px;left:1200px;}
54.15%	{top:2975px;left:1200px;}
55.10%	{top:3075px;left:1200px;}
56.05%	{top:3075px;left:1200px;}
57.00%	{top:3175px;left:1200px;}
57.95%	{top:3175px;left:1200px;}
58.90%	{top:3275px;left:1200px;}
59.85%	{top:3275px;left:1200px;}
60.80%	{top:3375px;left:1200px;}
61.75%	{top:3375px;left:1200px;}
62.70%	{top:3475px;left:1200px;}
63.65%	{top:3475px;left:1200px;}	
64.60%	{top:3575px;left:1200px;}
65.55%	{top:3575px;left:1200px;}
66.50%	{top:3675px;left:1200px;}
67.45%	{top:3675px;left:1200px;}
68.40%	{top:3775px;left:1200px;}
69.35%	{top:3775px;left:1200px;}
70.30%	{top:3875px;left:1200px;}
71.25%	{top:3875px;left:1200px;}
72.20%	{top:3975px;left:1200px;}
73.15%	{top:3975px;left:1200px;}
74.10%	{top:4075px;left:1200px;}
75.05%	{top:4075px;left:1200px;}
76.00%	{top:4175px;left:1200px;}
76.95%	{top:4175px;left:1200px;}
77.90%	{top:4275px;left:1200px;}
78.85%	{top:4275px;left:1200px;}
79.80%	{top:4375px;left:1200px;}
80.75%	{top:4375px;left:1200px;}
81.70%	{top:4475px;left:1200px;}
82.65%	{top:4475px;left:1200px;}
83.60%	{top:4575px;left:1200px;}
84.55%	{top:4575px;left:1200px;}
85.50%	{top:4675px;left:1200px;}
86.45%	{top:4675px;left:1200px;}
87.40%	{top:4775px;left:1200px;}
88.35%	{top:4775px;left:1200px;}
89.30%	{top:4875px;left:1200px;}
90.25%	{top:4875px;left:1200px;}
91.20%	{top:4975px;left:1200px;}
92.15%	{top:4975px;left:1200px;}
93.10%	{top:5075px;left:1200px;}
94.05%	{top:5075px;left:1200px;}
95.00%	{top:5175px;left:1200px;}
95.95%	{top:5173px;left:1200px;}
96.90%	{top:5275px;left:1200px;}
97.85%	{top:5275px;left:1200px;}
98.80%	{top:5375px;left:1200px;}
99.75%	{top:5375px;left:1200px;}
100.70%	{top:5375px;left:1200px;}
101.65%	{top:5375px;left:1200px;}
102.60%	{top:5375px;left:1200px;}
}

#paw4{
    position: absolute;
    width: 75px;
    height: 75px;
    transform: rotate(90deg);
    animation: paws_move4 60s; infinite; ease-in-out;
    animation-delay: 2s;
}
@keyframes paws_move4 {
0.00%	{top:175px;left:1300px;}
0.95%	{top:275px;left:1300px;}
1.90%	{top:275px;left:1300px;}
2.85%	{top:375px;left:1300px;}
3.80%	{top:375px;left:1300px;}
4.75%	{top:475px;left:1300px;}
5.70%	{top:475px;left:1300px;}
6.65%	{top:575px;left:1300px;}
7.60%	{top:575px;left:1300px;}
8.55%	{top:675px;left:1300px;}
9.50%	{top:675px;left:1300px;}
10.45%	{top:775px;left:1300px;}
11.40%	{top:775px;left:1300px;}
12.35%	{top:875px;left:1300px;}
13.30%	{top:875px;left:1300px;}
14.25%	{top:975px;left:1300px;}
15.20%	{top:975px;left:1300px;}
16.15%	{top:1075px;left:1300px;}
17.10%	{top:1075px;left:1300px;}
18.05%	{top:1175px;left:1300px;}
19.00%	{top:1175px;left:1300px;}
19.95%	{top:1275px;left:1300px;}
20.90%	{top:1275px;left:1300px;}
21.85%	{top:1375px;left:1300px;}
22.80%	{top:1375px;left:1300px;}
23.75%	{top:1475px;left:1300px;}
24.70%	{top:1475px;left:1300px;}
25.65%	{top:1575px;left:1300px;}
26.60%	{top:1575px;left:1300px;}
27.55%	{top:1675px;left:1300px;}
28.50%	{top:1675px;left:1300px;}
29.45%	{top:1775px;left:1300px;}
30.40%	{top:1775px;left:1300px;}
31.35%	{top:1875px;left:1300px;}
32.30%	{top:1875px;left:1300px;}
33.25%	{top:1975px;left:1300px;}
34.20%	{top:1975px;left:1300px;}
35.15%	{top:2075px;left:1300px;}
36.10%	{top:2075px;left:1300px;}
37.05%	{top:2175px;left:1300px;}
38.00%	{top:2175px;left:1300px;}
38.95%	{top:2275px;left:1300px;}
39.90%	{top:2275px;left:1300px;}
40.85%	{top:2375px;left:1300px;}
41.80%	{top:2375px;left:1300px;}
42.75%	{top:2475px;left:1300px;}
43.70%	{top:2475px;left:1300px;}
44.65%	{top:2575px;left:1300px;}
45.60%	{top:2575px;left:1300px;}
46.55%	{top:2675px;left:1300px;}
47.50%	{top:2675px;left:1300px;}
48.45%	{top:2775px;left:1300px;}
49.40%	{top:2785px;left:1300px;}
50.35%	{top:2885px;left:1300px;}
51.30%	{top:2875px;left:1300px;}
52.25%	{top:2975px;left:1300px;}
53.20%	{top:2975px;left:1300px;}
54.15%	{top:3075px;left:1300px;}
55.10%	{top:3075px;left:1300px;}
56.05%	{top:3175px;left:1300px;}
57.00%	{top:3175px;left:1300px;}
57.95%	{top:3275px;left:1300px;}
58.90%	{top:3275px;left:1300px;}
59.85%	{top:3375px;left:1300px;}
60.80%	{top:3375px;left:1300px;}
61.75%	{top:3475px;left:1300px;}
62.70%	{top:3475px;left:1300px;}
63.65%	{top:3575px;left:1300px;}	
64.60%	{top:3575px;left:1300px;}
65.55%	{top:3675px;left:1300px;}
66.50%	{top:3675px;left:1300px;}
67.45%	{top:3775px;left:1300px;}
68.40%	{top:3775px;left:1300px;}
69.35%	{top:3875px;left:1300px;}
70.30%	{top:3875px;left:1300px;}
71.25%	{top:3975px;left:1300px;}
72.20%	{top:3975px;left:1300px;}
73.15%	{top:4075px;left:1300px;}
74.10%	{top:4075px;left:1300px;}
75.05%	{top:4175px;left:1300px;}
76.00%	{top:4175px;left:1300px;}
76.95%	{top:4275px;left:1300px;}
77.90%	{top:4275px;left:1300px;}
78.85%	{top:4375px;left:1300px;}
79.80%	{top:4375px;left:1300px;}
80.75%	{top:4475px;left:1300px;}
81.70%	{top:4475px;left:1300px;}
82.65%	{top:4575px;left:1300px;}
83.60%	{top:4575px;left:1300px;}
84.55%	{top:4675px;left:1300px;}
85.50%	{top:4675px;left:1300px;}
86.45%	{top:4775px;left:1300px;}
87.40%	{top:4775px;left:1300px;}
88.35%	{top:4875px;left:1300px;}
89.30%	{top:4875px;left:1300px;}
90.25%	{top:4975px;left:1300px;}
91.20%	{top:4975px;left:1300px;}
92.15%	{top:5075px;left:1300px;}
93.10%	{top:5075px;left:1300px;}
94.05%	{top:5175px;left:1300px;}
95.00%	{top:5175px;left:1300px;}
95.95%	{top:5273px;left:1300px;}
96.90%	{top:5275px;left:1300px;}
97.85%	{top:5375px;left:1300px;}
98.80%	{top:5375px;left:1300px;}
99.75%	{top:5375px;left:1300px;}
100.70%	{top:5375px;left:1300px;}
101.65%	{top:5375px;left:1300px;}
102.60%	{top:5375px;left:1300px;}
}

#hearticon {
    position: fixed;
    width: 180px;
    height: 160px;
    background-size: cover;
    background-image: url(images/heartoutline.png);
    left: 100px;
    top: 600px;
    transform-origin: 50% 0%;
    animation: rotate 4s infinite linear;
}
@keyframes rotate{
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}


